:root{
    --background-white: #f4f4f4;
    --error-red:#cc0000;
    --background-red:#800000;
    --pup-gold:#DBA729;
}

@font-face {
    font-family: "Nunito";
    src: url("../static/fonts/Nunito-Regular.ttf");
}

@font-face {
    font-family: "Antic";
    src: url("../static/fonts/Antic-Regular.ttf");
}

@font-face {
    font-family: "Aoboshi One";
    src: url("../static/fonts/AoboshiOne-Regular.ttf");
}

@font-face {
    font-family: "Assistant";
    src: url("../static/fonts/Assistant-Regular.ttf");
}

* {
    box-sizing: border-box;
  }

html {
    height: 100%;
}

div {
    display: block;
  }

body{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-white);
}

body > .nav_bar {
    height: 10%;
    width: 100%;
    background-color: #800000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.nav_bar > .title {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

.nav_bar > .title p {
    font-size: 5.5vh;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    font-family: "Aoboshi One";
    color: #DBA729;
}

.nav_bar > .settings {
    height: 50%;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2.5%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.nav_bar > .settings > .PUP_text p, .line_1 p {
    font-size: 3.8vh;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    font-family: "Antic";
    color: #F5F5F5;
}
.nav_bar > .settings > .settings_img {
    height: 90%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.date_logo_container {
    height: 13%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #DBA729;
    margin-left: auto;
    margin-right: auto;
}

.date_logo_container > .time_date {
    height: 50%;
    width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.date_logo_container > .time_date > .time p, .line_2 p, .date p {
    font-size: 3vh;
    font-family: "Assistant";
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.monitors_classification_container {
    height: 60%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #800000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}
.monitors_classification_container > .monitors_container {
    height: 100%;
    width: 78%;
    background-color: #800000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow, .monitor_2ndRow, .monitor_3rdRow {
    height: 29%;
    width: 100%;
    background-color: #800000;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature, .pressure, .humidity {
height: 100%;
width: 31.5%;
background-color: white;
border-radius: 10px;
border: 1px solid black;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monitors_classification_container > .monitors_container > .monitor_2ndRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.monitors_classification_container > .monitors_container > .monitor_2ndRow div {
height: 100%;
width: 31.5%;
background-color: white;
border-radius: 10px;
border: 1px solid black;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monitors_classification_container > .monitors_container > .monitor_3rdRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.monitors_classification_container > .monitors_container > .monitor_3rdRow div {
height: 100%;
width: 31.5%;
background-color: white;
border-radius: 10px;
border: 1px solid black;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.monitors_classification_container > .classification_container {
    height: 100%;
    width: 20%;
    background-color: aquamarine;
    margin-left: auto;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature img {
    height: 65%;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature > .temp_label_data {
    height: 68%;
    width: auto;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: auto;
    
}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature > .temp_label_data p {
    font-family: "Nunito";
    font-size: 3.2vh;
    color: #000000;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.monitors_classification_container > .monitors_container > .monitor_1stRow > .temperature > .temp_label_data > #temperature_data {
    font-family: "Nunito";
    font-size: 4.5vh;
    color: #FDD901;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
