<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/pup-logo.svg') }}">
    <title>Ambiance</title>
</head>
<body>
    <div class="nav_bar">
        <div class="title">
            <p>AMBIANCE</p>
        </div>
        <div class="settings">
            <div class="PUP_text"><p>PUP MAIN</p></div>
            <div class="line_1"><p>|</p></div>
            <img
            class="settings_img" 
            src="{{ url_for('static', filename='assets/settings.svg') }}"
            alt="Settings Icon">
        </div>
    </div>
    <div class="date_logo_container">
        <div class="time_date">
            <div class="time"><p>12:59 AM</p></div>
            <div class="line_2"><p>|</p></div>
            <div class="date"><p>AUGUST 15 2024</p></div>
        </div>
        <img 
        class="logo"
        src="{{ url_for('static', filename='assets/pup-logo.svg') }}"
        alt="PUP Logo">
    </div>
    <div class="monitors_classification_container">
        <div class="monitors_container">
            <div class="monitor_1stRow">
                <div class="temperature">
                    <img 
                    class="temperature"
                    src="{{ url_for('static', filename='assets/temperature.svg') }}"
                    alt="Temperature Icon">
                    <div class="temp_label_data">
                        <p>TEMPERATURE</p>
                        <p id="temperature_data">59°C</p>
                    </div>
                </div>
                <div class="pressure"></div>
                <div class="humidity"></div>
            </div>
            <div class="monitor_2ndRow">
                <div class="pm_1.0"></div>
                <div class="pm_2.5"></div>
                <div class="pm_10"></div>
            </div>
            <div class="monitor_3rdRow">
                <div class="eco2"></div>
                <div class="altitude"></div>
                <div class="volatile"></div>
            </div>
        </div>
        <div class="classification_container">

        </div>
    </div>
</body>
</html>
